altair==4.2.0
apsw==3.40.0.0
asttokens==2.0.8
attrs==22.1.0
backcall==0.2.0
bcrypt==4.0.1
beautifulsoup4==4.11.1
blinker==1.5
blis==0.7.8
cachetools==5.2.0
catalogue==2.0.8
certifi==2022.9.24
charset-normalizer==2.1.1
chart-studio==1.1.0
click==8.1.3
colorama==0.4.5
colorlover==0.3.0
commonmark==0.9.1
confection==0.0.3
contourpy==1.0.5
csv-diff==1.1
cufflinks==0.17.3
cycler==0.11.0
cymem==2.0.7
debugpy==1.6.3
decorator==5.1.1
deprecation==2.1.0
deta==1.1.0
dictdiffer==0.9.0
en-core-web-lg @ https://github.com/explosion/spacy-models/releases/download/en_core_web_lg-3.4.0/en_core_web_lg-3.4.0-py3-none-any.whl
entrypoints==0.4
et-xmlfile==1.1.0
executing==1.1.1
extra-streamlit-components==0.1.56
fonttools==4.37.3
gitdb==4.0.9
GitPython==3.1.27
google-api-core==2.11.0
google-api-python-client==2.70.0
google-auth==2.15.0
google-auth-httplib2==0.1.0
google-auth-oauthlib==0.8.0
googleapis-common-protos==1.57.0
greenlet==2.0.1
gspread==5.7.2
gspread-pandas==3.2.2
httplib2==0.21.0
idna==3.4
importlib-metadata==5.0.0
ipykernel==6.16.0
ipython==8.5.0
ipywidgets==8.0.2
jedi==0.18.1
Jinja2==3.1.2
jsonschema==4.16.0
jupyter-core==4.11.1
jupyter_client==7.4.2
jupyterlab-widgets==3.0.3
kiwisolver==1.4.4
langcodes==3.3.0
MarkupSafe==2.1.1
matplotlib==3.6.0
matplotlib-inline==0.1.6
murmurhash==1.0.9
nest-asyncio==1.5.6
numpy==1.23.3
oauth2client==3.0.0
oauthlib==3.2.2
openpyxl==3.0.10
packaging==21.3
pandas==1.5.0
parso==0.8.3
pathy==0.6.2
patsy==0.5.2
pickleshare==0.7.5
Pillow==9.2.0
plotly==5.10.0
plotly-express==0.4.1
preshed==3.0.8
prompt-toolkit==3.0.31
protobuf==3.20.3
psutil==5.9.2
pure-eval==0.2.2
pyarrow==9.0.0
pyasn1==0.4.8
pyasn1-modules==0.2.8
pydantic==1.9.2
pydeck==0.8.0b3
Pygments==2.13.0
PyJWT==2.6.0
Pympler==1.0.1
pyparsing==3.0.9
pyrsistent==0.18.1
python-dateutil==2.8.2
python-decouple==3.6
python-dotenv==0.21.0
pytz==2022.2.1
pytz-deprecation-shim==0.1.0.post0
pywin32==304
PyYAML==6.0
pyzmq==24.0.1
requests==2.28.1
requests-oauthlib==1.3.1
retrying==1.3.3
rich==12.6.0
rsa==4.9
scipy==1.9.1
semver==2.13.0
shillelagh==1.1.5
six==1.16.0
smart-open==5.2.1
smmap==5.0.0
soupsieve==2.3.2.post1
spacy==3.4.1
spacy-legacy==3.0.10
spacy-loggers==1.0.3
SQLAlchemy==1.4.45
srsly==2.4.4
stack-data==0.5.1
statsmodels==0.13.2
streamlit==1.19.0
streamlit-aggrid==0.3.3
streamlit-authenticator==0.1.5
streamlit-modal==0.1.0
tenacity==8.1.0
thinc==8.1.4
toml==0.10.2
toolz==0.12.0
tornado==6.2
tqdm==4.64.1
traitlets==5.5.0
typer==0.4.2
typing_extensions==4.3.0
tzdata==2022.4
tzlocal==4.2
Unidecode==1.3.6
uritemplate==4.1.1
urllib3==1.26.12
validators==0.20.0
wasabi==0.10.1
watchdog==2.1.9
wcwidth==0.2.5
widgetsnbextension==4.0.3
zipp==3.8.1